@tailwind base;
@tailwind components;
@tailwind utilities;



/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Set a professional font */
  background: linear-gradient(to right, #1a1a2e, #16213e, #0f3460);

 /* Beautiful gradient */
  min-height: 100vh; /* Full height of the viewport */
  transition: background 0.5s ease; /* Smooth transition for background changes */
}

* {
  box-sizing: border-box; /* Ensure consistent box sizing */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
}
